:host {
  width: 15%;
  height: calc(100vh - 48px);
  ::ng-deep {
    .panel {
      background-color: var(--surface-700);
      height: 100%;
      border: none;
      border-radius: 0px;
    }
  }

  .word,
  .pdf {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 10px;
  }

  // .word:hover,
  // .pdf:hover {
  //   background-color: white;
  //   color: black;
  //   cursor: pointer;
  // }
}
